body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 5%;
    background: #283c86;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #45a247, #283c86);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #45a247, #283c86); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: darkslategrey;
}

#main{
    background-color: rgba(255, 255, 255, 0.479);
    margin: 40px 0;
    padding: 3% 6%;
}

hr{
    border: 0.5px solid rgba(0, 0, 0, 0.082);
}

h1{
    margin: 5px 0 ;
    color: transparent;
    -webkit-text-stroke-width: 0.7px;
    -webkit-text-stroke-color: darkslategray;
}

h3{
    color: purple;
}

h4{
    margin-bottom: 5px;
    color: darkslategrey;
}

p{
    margin: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

a:hover{
    color: rgba(0, 0, 0, 0.514);
}
a:focus{
    color: rgba(0, 0, 0, 0.514);
}

nav{
    margin: 1em 0;
    display: flex;
    align-content: space-between;
    gap: 0.5em;
}

.header{
    margin: 1em 0;
}

sl-tag::part(base){
    background: rgba(255, 255, 255, 0.267);
    border-color: rgba(112, 128, 144, 0.349);
}

sl-tag::part(content){
    color: darkslategray;
}

.logo-link{
    margin: 10px 0;
}

.img{
    filter: invert(1);
}

.caption{
    font-size: smaller;
    font-style: italic;
}

.info{
    font-size: smaller;
}

.detail{
    font-size: smaller;
}

.hidden{
    display: none;
}

.project:hover + .info + .caption{
    display: none;
}

.project:hover + .info + .caption + .detail{
    display: block;
    color: royalblue;
}